In [179]:
import pandas as pd
import numpy as np

In [180]:
#purch_data_csv = "Desktop/pandas-challenge/Resources/purchase_data.csv"
purch_data_csv = "/Users/vicki/Desktop/pandas-challenge/Resources/purchase_data.csv"

In [181]:
purch_data_df = pd.read_csv(purch_data_csv)

In [182]:
purch_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [183]:
purch_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [184]:
player_count = purch_data_df["SN"].nunique()
#player_count_df = pd.DataFrame(player_count)
#player_countdf = pd.DataFrame(player_count)
#player_countdf
pd.DataFrame({"Total Players":[player_count]})

   Total Players
0            576

In [185]:
#Puchasing Analysis (Total)
    #number of unique items (.unique)
unique = purch_data_df["Item ID"].nunique()
    #average purchase price (sum price column and divide by total count)
avg_price = purch_data_df["Price"].mean()
    #total number of purchases
purchase_count = purch_data_df["Purchase ID"].count()
    #Total Revenue
revenue = purch_data_df["Price"].sum()
purch_analysis_df = pd.DataFrame({"Number of Unique Items":[unique], "Average Price": [avg_price], "Number of Purchases": [purchase_count], "Total Revenue": [revenue]})
purch_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [186]:
#Gender Demographics
    #% and count of male players
    #% and count of female players
    #% and count of other/non-disclosed
gender_gby = purch_data_df.groupby(["Gender"])
gender=gender_gby["SN"].nunique()
gender
gender_pct = (gender/player_count)*100
gender_counts = pd.DataFrame({"Gender Count":gender, "Percent of Total":gender_pct})
gender_counts = gender_counts.sort_values("Gender Count",ascending=False)
gender_counts
#gender_gby.head()

                       Gender Count  Percent of Total
Gender
Male                            484         84.027778
Female                           81         14.062500
Other / Non-Disclosed            11          1.909722

In [187]:
#age demographics
#doing some binning
age_bins=[0,9.99, 14.99, 19.99,24.99, 29.99,34.99, 39.99, 200]
age_groups=["<10", "10-14", "15-19","20-24","25-29","30-34","35-39","40+"]

purch_data_df["age_range"] = pd.cut(purch_data_df["Age"],age_bins, labels=age_groups)
age_demo = purch_data_df.groupby("age_range")
age_count=age_demo["SN"].nunique()
age_pct=(age_count/player_count)*100
age_demo_df = pd.DataFrame({"Total Count":age_count, "Percentage of Players":age_pct})
age_demo_df
#age_demo.head()

           Total Count  Percentage of Players
age_range
<10                 17               2.951389
10-14               22               3.819444
15-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-34               52               9.027778
35-39               31               5.381944
40+                 12               2.083333