In [15]:
import pandas as pd
import numpy as np

In [16]:
purch_data_csv = "../Resources/purchase_data.csv"

In [17]:
purch_data_df = pd.read_csv(purch_data_csv)

In [18]:
purch_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [19]:
#purch_data_df.dtypes

In [20]:
player_count = purch_data_df["SN"].nunique()
pd.DataFrame({"Total Players":[player_count]})

   Total Players
0            576

In [21]:
#Puchasing Analysis (Total)
    #number of unique items (.unique)
unique = purch_data_df["Item ID"].nunique()
    #average purchase price (sum price column and divide by total count)
avg_price = purch_data_df["Price"].mean()
    #total number of purchases
purchase_count = purch_data_df["Purchase ID"].count()
    #Total Revenue
revenue = purch_data_df["Price"].sum()
purch_analysis_df = pd.DataFrame({"Number of Unique Items":[unique], "Average Price": [avg_price], "Number of Purchases": [purchase_count], "Total Revenue": [revenue]})
purch_analysis_df.style.format({"Average Price": "${:,.2f}", "Total Revenue":"${:,.2f}"})

In [22]:
#Gender Demographics
gender_gby = purch_data_df.groupby(["Gender"])
gender=gender_gby["SN"].nunique()
gender
gender_pct = (gender/player_count)
gender_counts = pd.DataFrame({"Gender Count":gender, "Percent of Total":gender_pct})
gender_counts = gender_counts.sort_values("Gender Count",ascending=False)
gender_counts.style.format({"Percent of Total": "{:,.2%}"})
#gender_gby.head()

In [23]:
gender_gby.count()
gender_avgpurch = gender_gby["Price"].mean()
#gender_avgpurch
gender_purchcount = gender_gby["Gender"].count()
#gender_purchcount
total_value = gender_gby["Price"].sum()
#total_value
gender_anlysis = pd.DataFrame({"Purchase Count":gender_purchcount, "Average Purchase Price":gender_avgpurch, "Total Purchase Value":total_value, "Person":gender})
gender_anlysis
gender_anlysis["AvgTotal Purchase per Person"] = gender_anlysis["Total Purchase Value"] / gender_anlysis["Person"]
gender_purch_anl=gender_anlysis[["Purchase Count","Average Purchase Price","Total Purchase Value", "AvgTotal Purchase per Person"]]
gender_purch_anl.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value":"${:,.2f}","AvgTotal Purchase per Person":"${:,.2f}"})

In [24]:
#age demographics
#doing some binning
age_bins=[0,9.99, 14.99, 19.99,24.99, 29.99,34.99, 39.99, 200]
age_groups=["<10", "10-14", "15-19","20-24","25-29","30-34","35-39","40+"]

purch_data_df["age_range"] = pd.cut(purch_data_df["Age"],age_bins, labels=age_groups)
age_demo = purch_data_df.groupby("age_range")
age_count=age_demo["SN"].nunique()
age_pct=(age_count/player_count)
age_demo_df = pd.DataFrame({"Total Count":age_count, "Percentage of Players":age_pct})
age_demo_df.style.format({"Percentage of Players": "{:,.2%}"})
#age_demo.head()

In [25]:
#age_demo.head()
age_demo = purch_data_df.groupby("age_range")
age_purch_count = age_demo["Purchase ID"].count()
age_avg_purch = age_demo["Price"].mean()
age_total_purch = age_demo["Price"].sum()
age_anlysis = pd.DataFrame({"Purchase Count":age_purch_count, "Average Purchase Price":age_avg_purch, "Total Purchase Value":age_total_purch, "Unit": age_count})
age_anlysis["AvgTotal Purchase per Person"] = age_anlysis["Total Purchase Value"] / age_anlysis["Unit"]
age_purch_anl = age_anlysis[["Purchase Count","Average Purchase Price","Total Purchase Value", "AvgTotal Purchase per Person"]]
age_purch_anl.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value":"${:,.2f}","AvgTotal Purchase per Person":"${:,.2f}"})

In [26]:
sn_gby = purch_data_df.groupby(["SN"])
sn_purch_count = sn_gby["Purchase ID"].count()
sn_avg_purch = sn_gby["Price"].mean()
sn_total_purch = sn_gby["Price"].sum()
sn_anlysis = pd.DataFrame({"Purchase Count":sn_purch_count, "Average Purchase Price":sn_avg_purch, "Total Purchase Value":sn_total_purch})
sorted_sn_anlysis = sn_anlysis.sort_values("Total Purchase Value", ascending = False)
sorted_sn_anlysis.head(5).style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value":"${:,.2f}"})

In [27]:
pop_data_df = purch_data_df.loc[:,['Item ID', 'Item Name', 'Price']]
pop_gby_df = pop_data_df.groupby(['Item ID', 'Item Name'])
avg_item_price = pop_gby_df['Price'].mean()
pop_count = pop_gby_df['Price'].count()
pop_value = pop_gby_df['Price'].sum()
pop_anlysis = pd.DataFrame({"Purchase Count":pop_count, "Item Price":avg_item_price, "Total Purchase Value":pop_value})
sorted_pop_anlysis = pop_anlysis.sort_values("Purchase Count", ascending = False)
sorted_pop_anlysis.head().style.format({"Item Price": "${:,.2f}", "Total Purchase Value":"${:,.2f}"})

In [28]:
resorted_pop_anlysis = pop_anlysis.sort_values("Total Purchase Value", ascending = False)
resorted_pop_anlysis.head().style.format({"Item Price": "${:,.2f}", "Total Purchase Value":"${:,.2f}"})