In [429]:
import pandas as pd
import numpy as np

In [430]:
purch_data_csv = "../Resources/purchase_data.csv"

In [431]:
purch_data_df = pd.read_csv(purch_data_csv)

In [432]:
purch_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [433]:
player_count = purch_data_df["SN"].count()
#player_count_df = pd.DataFrame(player_count)
#player_countdf = pd.DataFrame(player_count)
#player_countdf
player_count

ValueError: DataFrame constructor not properly called!

In [434]:
#Puchasing Analysis (Total)
    #number of unique items (.unique)
unique = purch_data_df["Item Name"].value_counts()
    #average purchase price (sum price column and divide by total count)
avg_price = purch_data_df["Price"].mean()
    #total number of purchases
purchase_count = purch_data_df["Purchase ID"].count()
    #Total Revenue
revenue = purch_data_df["Price"].sum()
purch_analysis_df = pd.DataFrame({"Number of Unique Items":[unique], "Average Price": [avg_price], "Number of Purchases": [purchase_count], "Total Revenue": [revenue]})
purch_analysis_df

,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
0,Final Critic ...,3.050987,780,2379.77

In [435]:
#Gender Demographics
    #% and count of male players
    #% and count of female players
    #% and count of other/non-disclosed
gender = purch_data_df["Gender"].value_counts()
gender_counts = pd.DataFrame(gender)
gender_counts

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [ ]:
#age demographics
#doing some binning